#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Python
#//////////////////////////
__pycache__/
*.spec
build/
dist/
